# Auto detect text files and normalize line endings to LF
* text=auto eol=lf

# Explicitly declare files that should always have LF
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Denote all files that should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
